:root {
    --certificate-fonts: Sora;
    --primary: #19A68E;
    --alt-primary-green: #01aa6e;
    --trans: hsla(0, 0%, 70%, 0.5);
    --white-color: #ffffff;
    --accent-color: #7b41b4;
    --black-color: #222222;
    overflow: hidden;
}


.app {
    max-width: 1440px;
    margin-inline: auto;
    background-color: aquamarine;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 24px;
    align-items: center;

    background-color: white;
}

#logo {
    width: 150px;
    z-index: 1000;
    position: relative;
}

.mobileNav {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    position: absolute;
    left: 0%;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: saturate(180%) blur(64px);
    backdrop-filter: saturate(180%) blur(16px)
}

.smallNav {
    border-radius: 10px;
    box-shadow: #CAB3E1;
    background: var(--trans);
    display: flex;
    padding-inline: 8px;
    padding-bottom: 1rem;
    gap: 25px;
    color: #222222;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: saturate(180%) blur(64px);
    backdrop-filter: saturate(180%) blur(32px)
}

.mobileToggle {
    margin-top: auto;
    align-self: center;
    justify-items: center;
}

.mobileToggleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.smallNav>:not(:last-child) {
    border-bottom: 2px solid #6C6C70;
    margin-inline: auto;
    height: 39px;
    width: 217px;
    border-width: 90%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;

}

.smallNav>:first-child {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.004em;
    text-align: left;
}


.logo-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.logo-area>h3 {
    width: full;
    height: 19px;
    color: white;
}

.smallText {
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.004em;
    text-align: left;
    color: white;
}

.logo-text {
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.004em;
    text-align: left;

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
}

.navbar-lhs {
    display: none;
    flex-direction: row;
    gap: 44px;
}

.navbar-lhs:first-child {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.004em;
    text-align: left;
    color: Green/Shade 2;
}

.navbar-lhs>:not(:first-child) {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.004em;
    text-align: left;
    color: #222222;
}

.navbar-rhs {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}



.button {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 10px;
    height: 48px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    color: white;
}



.footer {
    display: flex;
    flex-direction: column;
    background-color: #08372F;
    gap: 35px;
    padding: 40px 24px 25px;
    align-items: center;
    justify-content: center;
}

.footer-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    gap: 44px;
    width: 100%;
}

.footer-note-navs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    gap: 28px;
}

.footer-note-navs-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: white;
}


.footer-note-navs-links>h2 {
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.004em;
    text-align: left;
}

.footer-note-navs-links>a {
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.004em;
    text-align: left;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.footer-form-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.footer-form-input>input {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.footer-form-input>button {
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 20px;
    gap: 8px;
    justify-content: center;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.footer-socials>h3 {
    text-align: center;
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.004em;
    color: white;


}

.footer-socials>.span {
    font-family: Sora;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.004em;
    text-align: center;
    background-clip: text;
    background: linear-gradient(0deg, #CAB3E1, #CAB3E1),


}

@media (min-width:760px) {
    .header {
        padding: 20px 44px;
    }

    .navbar-rhs {
        justify-content: end;
    }

    .navbar-rhs>.button {
        display: flex;
    }

    .smallNav {
        padding-inline: 1rem;
    }

    .footer-form-input {
        flex-direction: row;
        gap: 20px;
    }

    .footer-form-input>button {
        width: 50%;
    }

    .footer-form>h3 {
        align-self: flex-start;

    }

    .footer-note-navs-links>a {
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        width: 100%;

    }

    .footer-note-navs-links>h2 {
        font-size: 19px;
        display: flex;
        align-items: center;
        line-height: 24px;
    }

    .smallText {
        font-size: 1rem;
        line-height: 19px;
    }

}


@media (max-width:760px) {
    .smallNav>button {
        display: flex;
        width: 100%;
    }
}

@media (min-width:1240px) {
    .header {
        padding: 20px 6.25rem;
    }

    .mobileToggleDiv {
        display: none;
    }

    .navbar-lhs {
        display: flex;
    }

    .navbar-rhs {
        padding-left: 25px;
        gap: 0;
        border-left: 1px solid #6C6C70;
        justify-content: end;
    }

    .footer-note {
        flex-direction: row;
        align-items: flex-start;
        gap: 125px;
        max-width: 1240px;
    }

    .footer-form-input {
        gap: 40px;
    }

}