.animated-gradient-text_background__OCnk0 {
    position: relative;
    display: block;
    -webkit-user-select: none;
    user-select: none
}

.animated-gradient-text_background-1__c2kfC:before {
    animation: animated-gradient-text_fade-background-1__ptIFS 8s infinite
}

.animated-gradient-text_foreground-1__gqHrR {
    animation: animated-gradient-text_fade-foreground-1__efWVr 8s infinite
}

.animated-gradient-text_background-2__OQEIi:before {
    animation: animated-gradient-text_fade-background-2__e8Hk7 8s infinite
}

.animated-gradient-text_foreground-2__B4oIZ {
    animation: animated-gradient-text_fade-foreground-2__sYrlF 8s infinite
}

.animated-gradient-text_background-3__iyrbU:before {
    animation: animated-gradient-text_fade-background-3__NTKrh 8s infinite
}

.animated-gradient-text_foreground-3__kum5b {
    animation: animated-gradient-text_fade-foreground-3__Hg4NE 8s infinite
}

.stop-hero-animation .animated-gradient-text_background__OCnk0,
.stop-hero-animation .animated-gradient-text_background__OCnk0:before,
.stop-hero-animation .animated-gradient-text_foreground__kb6tN {
    animation: none !important
}

.animated-gradient-text_foreground__kb6tN {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-image: linear-gradient(90deg, var(--start-color), var(--end-color));
    position: relative;
    z-index: 1
}

.animated-gradient-text_background__OCnk0:before {
    content: var(--content);
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: var(--geist-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-left: var(--padding);
    padding-right: var(--padding)
}

@keyframes animated-gradient-text_fade-foreground-1__efWVr {

    0%,
    16.667%,
    to {
        opacity: 1
    }

    33.333%,
    83.333% {
        opacity: 0
    }
}

@keyframes animated-gradient-text_fade-background-1__ptIFS {

    0%,
    16.667%,
    to {
        opacity: 0
    }

    25%,
    91.667% {
        opacity: 1
    }
}

@keyframes animated-gradient-text_fade-foreground-2__sYrlF {

    0%,
    to {
        opacity: 0
    }

    33.333%,
    50% {
        opacity: 1
    }

    16.667%,
    66.667% {
        opacity: 0
    }
}

@keyframes animated-gradient-text_fade-background-2__e8Hk7 {

    0%,
    to {
        opacity: 1
    }

    33.333%,
    50% {
        opacity: 0
    }

    25%,
    58.333% {
        opacity: 1
    }
}

@keyframes animated-gradient-text_fade-foreground-3__Hg4NE {

    0%,
    50%,
    to {
        opacity: 0
    }

    66.667%,
    83.333% {
        opacity: 1
    }
}

@keyframes animated-gradient-text_fade-background-3__NTKrh {

    0%,
    58.333%,
    91.667%,
    to {
        opacity: 1
    }

    66.667%,
    83.333% {
        opacity: 0
    }
}

.text_text__tVl7E {
    font-family: var(--font-sans);
    font-size: var(--size);
    margin: var(--geist-gap) 0
}

.text_text__tVl7E.text_code__vgfuU {
    font-family: var(--font-mono)
}

.text_text__tVl7E.text_noMargin__uy__0 {
    margin: 0
}

.text_text__tVl7E.text_center__uKEGZ {
    text-align: center
}

.text_text__tVl7E.text_themed__eHOst {
    color: var(--themed-fg)
}

.text_h1__20DJU {
    --size: 4.5rem;
    --size-t: 4rem;
    --size-m: 2.5rem;
    line-height: 1.01em;
    font-weight: 800;
    letter-spacing: -.049375rem
}

.text_h2__V8zux {
    --size: 3.5rem;
    --size-t: 3rem;
    --size-m: 2rem;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: -.049375rem
}

.text_h3__rOvvh {
    --size: 2.5rem;
    --size-t: 2rem;
    --size-m: 1.75rem;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -.029375rem
}

.text_h4__OMcDv {
    --size: 2rem;
    --size-t: 1.25rem;
    --size-m: 1rem;
    font-weight: 400;
    font-weight: 600;
    letter-spacing: -.020625rem
}

.text_h5__D8xnp {
    --size: 1.5rem;
    --size-t: 1.25rem;
    --size-m: 1rem;
    font-weight: 600;
    line-height: 1.41em;
    letter-spacing: -.01125rem
}

.text_h6__jCB0c {
    --size: 1rem;
    --size-t: 1rem;
    --size-m: 1rem;
    font-weight: 600;
    letter-spacing: -.005625rem
}

.text_p__fjUxc {
    --size: 1.25rem;
    --size-t: 1rem;
    --size-m: 1rem;
    line-height: 1.5em
}

.text_small__ke4_O {
    --size: 1rem;
    line-height: 1.5em
}

.text_description__z5ZiU {
    text-transform: uppercase;
    --size: 12px;
    color: var(--accents-5)
}

.text_xsmall__BJV1U {
    --size: 0.875rem
}

.text_xlarge__Ibjin {
    line-height: 1.01em;
    letter-spacing: -.049375rem;
    --size: 5.5rem;
    --size-t: 4.5rem;
    --size-m: 3rem
}

@media (max-width:960px) {
    .text_text__tVl7E {
        font-size: var(--size-t)
    }

    .text_text__tVl7E.text_text-constant-size__TlO1K {
        font-size: var(--size)
    }
}

@media (max-width:600px) {
    .text_text__tVl7E {
        font-size: var(--size-m)
    }

    .text_text__tVl7E.text_text-constant-size__TlO1K {
        font-size: var(--size)
    }
}

.tiny-heading_heading__4Znu5 {
    text-align: center;
    margin-bottom: var(--geist-gap-double)
}

.tiny-heading_heading__4Znu5.tiny-heading_small-margin__qfAPz {
    margin-bottom: var(--geist-gap)
}

.slider_sliderContainer__FrC_N {
    overflow: hidden;
    white-space: nowrap
}

.slider_sliderContentWrapper__8t9tp {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation-name: slider_slide__ZtEiZ;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.slider_sliderContentWrapper__8t9tp>div {
    display: inline-block
}

@keyframes slider_slide__ZtEiZ {
    0% {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(-50%, 0, 0)
    }
}

.testimonials_container__tBn70 {
    width: 100%
}

.testimonials_testimonials-heading__KnJbZ {
    padding-left: var(--geist-gap);
    padding-right: var(--geist-gap)
}

.testimonials_brands__E_qgQ {
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none
}

.dark-theme .testimonials_brands__E_qgQ img,
.dark-theme .testimonials_dynamic__nEosn img {
    filter: invert(1);
    opacity: .85
}

.testimonials_brands__E_qgQ>.testimonials_wrap__ajJdt {
    display: inline-flex;
    margin: 0 var(--geist-gap-half);
    vertical-align: middle;
    outline: none;
    cursor: default
}

.testimonials_brandsTablet__jBfle {
    display: none
}

.testimonials_brandsTablet__jBfle.testimonials_alwaysShow__1DyVE {
    display: block
}

.testimonials_brandsDesktop__T_Loj>.testimonials_brands__E_qgQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw - var(--geist-gap-double));
    max-width: 900px
}

.testimonials_brandsDesktop__T_Loj>.testimonials_brands__E_qgQ:first-child {
    max-width: 720px
}

.testimonials_brandsDesktop__T_Loj>.testimonials_brands__E_qgQ>.testimonials_wrap__ajJdt {
    margin: 0
}

.testimonials_brandsDesktop__T_Loj>.testimonials_brands__E_qgQ+.testimonials_brands__E_qgQ {
    margin-top: var(--geist-gap)
}

@media (max-width:960px) {
    .testimonials_brandsTablet__jBfle {
        position: relative;
        display: block
    }

    .testimonials_brandsTablet__jBfle:after,
    .testimonials_brandsTablet__jBfle:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 90px;
        z-index: 1
    }

    .testimonials_brandsTablet__jBfle:after {
        left: 0;
        background: linear-gradient(to right, var(--geist-background), transparent)
    }

    .testimonials_brandsTablet__jBfle:before {
        right: 0;
        background: linear-gradient(to left, var(--geist-background), transparent)
    }

    .testimonials_brandsDesktop__T_Loj {
        display: none
    }
}

.hero_texts__X6GcB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 0;
    min-height: calc(100vh - 64px)
}

.hero_bottom__rxurc {
    text-align: center;
    margin-bottom: var(--geist-gap-double)
}

.hero_title__HaAVy {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 5rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -.06em;
    margin: 0 0 40px
}

.hero_description__IXY_z {
    line-height: 1.6em !important;
    color: var(--geist-secondary);
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -.02em;
    text-align: center;
    max-width: 720px;
    margin: 0 auto 64px
}

.hero_deployButton__HuZcH>span {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px
}

.hero_buttons__nST_h {
    width: 400px;
    max-width: 100%;
    margin: 0 auto var(--geist-space-32x)
}

@media (min-width:1200px) {
    .hero_title__HaAVy {
        font-size: 7rem
    }

    .hero_description__IXY_z {
        font-size: 1.5rem;
        max-width: 780px
    }
}

@media (max-width:960px) {
    .hero_title__HaAVy {
        display: flex;
        flex-direction: column;
        font-size: 6rem
    }
}

@media (max-width:720px) {
    .hero_title__HaAVy {
        font-size: 4.5rem
    }
}

.hero_gradient-button-wrapper__bi4sF .hero_gradient-button__kkwJu {
    background-color: var(--geist-background);
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0 #00000010;
    color: var(--geist-foreground);
    transition-property: color, background-color, box-shadow;
    transition-duration: .15s;
    transition-timing-function: ease
}

.dark-theme .hero_gradient-button-wrapper__bi4sF .hero_gradient-button__kkwJu {
    box-shadow: 0 4px 4px 0 #00000040
}

.hero_gradient-button-wrapper__bi4sF .hero_gradient-button__kkwJu[data-hover] {
    --lighten-color: transparent;
    color: var(--geist-background);
    background-color: transparent
}

.hero_gradient-button-wrapper__bi4sF .hero_gradient-button__kkwJu[data-active] {
    --lighten-color: hsla(0, 0%, 100%, .5)
}

.hero_gradient-button-wrapper__bi4sF .hero_gradient-button__kkwJu[data-focus] {
    box-shadow: 0 0 0 1px var(--geist-background), 0 0 0 3px var(--themed-bg, var(--geist-foreground))
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp {
    border-radius: var(--geist-radius);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp:before {
    border: 12px solid transparent;
    background-clip: padding-box;
    content: "";
    filter: blur(36px);
    height: 100%;
    opacity: .8;
    position: absolute;
    width: 100%;
    z-index: -1
}

.dark-theme .hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp:before {
    opacity: 1
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp,
.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp:before {
    background-image: linear-gradient(165deg, var(--start-color), var(--end-color))
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-1__Idwnm {
    animation: hero_background-1__GsyFC 8s infinite
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-1__Idwnm,
.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-1__Idwnm:before {
    --start-color: #00dfd8;
    --end-color: #007cf0
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-2__OnKew {
    animation: hero_background-2__ZkZqr 8s infinite
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-2__OnKew,
.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-2__OnKew:before {
    --start-color: #ff0080;
    --end-color: #7928ca
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-3__Ik39k {
    animation: hero_background-3__C3uIw 8s infinite
}

.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-3__Ik39k,
.hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp.hero_bg-3__Ik39k:before {
    --start-color: #ff4d4d;
    --end-color: #f9cb28
}

.stop-hero-animation .hero_gradient-button-wrapper__bi4sF .hero_button-bg__seSDp {
    animation: none
}

@keyframes hero_background-1__GsyFC {

    0%,
    16.667%,
    to {
        opacity: 1
    }

    33%,
    83.333% {
        opacity: 0
    }
}

@keyframes hero_background-2__ZkZqr {

    0%,
    16.667%,
    66.667%,
    to {
        opacity: 0
    }

    33.333%,
    50% {
        opacity: 1
    }
}

@keyframes hero_background-3__C3uIw {

    0%,
    50%,
    to {
        opacity: 0
    }

    66.667%,
    83.333% {
        opacity: 1
    }
}

.section-label_label__IXpQ5 {
    text-align: center;
    margin-bottom: var(--geist-space-4x)
}

.section-label_number__DaHTx {
    display: inline-flex;
    border-radius: 100%;
    color: var(--geist-background);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: var(--geist-gap);
    background: linear-gradient(90deg, var(--start-color), var(--end-color))
}

.section-label_text__OTARC {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-image: linear-gradient(90deg, var(--start-color), var(--end-color))
}

.section-label_heading__yw8wN {
    font-size: 2rem;
    letter-spacing: -.05em;
    margin: 0;
    font-weight: 700
}

.small-heading_heading__p_5qt {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -.05em;
    margin: 0 0 8px
}

.paragraph_paragraph__w5Ihr {
    line-height: 28px;
    letter-spacing: -.02em;
    margin: 0;
    font-weight: 400
}

.paragraph_paragraph__w5Ihr.paragraph_centered__PuxGB {
    text-align: center
}

.paragraph_paragraph__w5Ihr.paragraph_secondary__6GKTk {
    color: var(--geist-secondary)
}

.paragraph_paragraph__w5Ihr.paragraph_small__6RhoL {
    font-size: .875rem
}

.icon-wrapper_root__O5G8Z {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: var(--accents-2);
    border: 1px solid var(--accents-2);
    color: var(--accents-5);
    margin: 0 auto 16px
}

.light-theme .icon-wrapper_root__O5G8Z {
    background: var(--accents-1);
    border: 1px solid var(--accents-2)
}

@media (min-width:960px) {
    .icon-wrapper_root__O5G8Z {
        margin: 0 0 16px
    }
}

.frameworks_frameworks__qyJlD {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--geist-space-16x)
}

.frameworks_frameworks__qyJlD>* {
    margin: var(--geist-gap-half) calc(1.5 * var(--geist-gap-half))
}

.window_window__nPem7 {
    max-width: 100%;
    color: var(--geist-foreground);
    position: relative;
    border-radius: var(--geist-radius);
    background: var(--geist-background);
    overflow: hidden;
    display: flex;
    flex-direction: column
}

.window_traffic__9L252 {
    display: none;
    margin-left: var(--geist-gap-half)
}

.window_traffic__9L252.window_show__Snn5B {
    display: block
}

.window_header__di2AB {
    width: 100%;
    flex-basis: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--accents-2)
}

.window_body__q6WE4 {
    flex: 1 1;
    width: 100%;
    overflow: auto
}

.window_body__q6WE4.window_padding__3MsDL {
    padding-top: var(--geist-gap-half)
}

.window_body__q6WE4.window_noScroll___zVR3 {
    overflow: hidden
}

.window_icon__EYnci {
    border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px
}

.window_icon__EYnci+.window_icon__EYnci {
    margin-left: 8px
}

.window_close__aNPvd {
    background-color: #ff5f56
}

.window_minimize___N9Y2 {
    background-color: #ffbd2e
}

.window_fullScreen__7p1Uw {
    background-color: #27c93f
}

.window_title__TBsus {
    color: var(--accents-5);
    justify-content: center
}

.window_title-right__VRE5s,
.window_title__TBsus {
    position: absolute;
    width: 100%;
    height: var(--header-height);
    left: 0;
    font-size: 12px;
    display: flex;
    align-items: center
}

.window_title-right__VRE5s {
    font-weight: 700;
    justify-content: flex-end;
    padding-right: var(--geist-space-4x)
}

.window_caret__4PhCD {
    background: var(--geist-success);
    display: inline-block;
    width: 7px;
    height: 15px;
    position: relative;
    bottom: 1px;
    vertical-align: middle
}

.window_caret__4PhCD.window_mini__zQxqU {
    width: 6px;
    height: 11px
}

.window_caret__4PhCD.window_blink__lRrDb {
    animation: window_blink__lRrDb 1s ease infinite
}

@keyframes window_blink__lRrDb {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.window_triangle__GJTzN {
    color: var(--geist-foreground)
}

.window_prompt__DL_1h {
    color: var(--accents-5)
}

.browser_bar__sQFUy {
    flex: 1 1;
    color: var(--geist-foreground);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

.browser_spacer__OZa_W {
    flex-basis: 140px;
    flex-shrink: 0
}

.browser_input__kFSIO {
    flex: 1 1;
    background: var(--accents-1);
    border-radius: 3px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--geist-gap-half);
    position: relative
}

.browser_url__Ds_5s {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.browser_url__Ds_5s svg {
    vertical-align: middle
}

.browser_url-disabled__zkDhC,
.browser_url__Ds_5s a {
    white-space: nowrap;
    line-height: 1.25rem;
    font-size: .75rem;
    flex: 1 1;
    margin: 0 var(--geist-gap-quarter);
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden
}

.browser_lock__3xx5w {
    color: var(--geist-cyan-dark)
}

.browser_lock-placeholder__HDuhY {
    display: inline-flex;
    width: 12px
}

.browser_bar__sQFUy i {
    display: inline-flex
}

.browser_refresh__QF4aN {
    flex-shrink: 0
}

@media (max-width:600px) {
    .browser_spacer__OZa_W {
        flex-basis: 80px
    }

    .browser_spacer__OZa_W.browser_end__6Fr_7 {
        flex-basis: var(--geist-gap-half)
    }

    .browser_input__kFSIO {
        flex: 1 1;
        overflow: hidden
    }
}

.window-with-tabs_tabs-wrapper__0ClZL {
    display: flex;
    left: 80px;
    position: absolute;
    bottom: -1px
}

.window-with-tabs_tab__ewp2U {
    border-left: 1px solid var(--accents-2);
    border-right: 1px solid var(--accents-2);
    height: var(--header-height);
    display: inline-flex;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 175ms ease-in-out
}

@media (hover:hover) {
    .window-with-tabs_tab__ewp2U:hover {
        background: rgba(var(--geist-background-rgb), .75)
    }
}

.window-with-tabs_active__0fOLV {
    border-bottom: 1px solid var(--geist-background);
    background: var(--geist-background) !important
}

.token_token-k__aHtIz {
    color: var(--k-color);
    font-weight: 700
}

.token_token-n__5D_E6 {
    color: var(--n-color);
    font-weight: 700
}

.token_token-p__XSPHC {
    color: var(--p-color)
}

.token_token-c__BZnMR {
    color: var(--geist-secondary)
}

.cursor_cursor__LdXXx {
    display: inline-flex;
    border-right: 2px solid var(--accents-3);
    height: 21px;
    line-height: 21px;
    position: absolute;
    transform: translateX(-1px)
}

.editor_editor__AW64M {
    height: 100%;
    display: flex;
    font-family: "Space Mono", var(--font-mono);
    font-size: 15px;
    white-space: pre;
    line-height: 24px
}

.editor_lines-background__UkMje {
    background: var(--accents-1);
    padding: var(--geist-gap-half) 6px;
    text-align: right;
    color: var(--accents-3)
}

.editor_lines__SmCes {
    width: 12px
}

.editor_editor-main__77bnv {
    padding: var(--geist-gap-half)
}

@media (max-width:480px) {
    .editor_editor__AW64M {
        font-size: 14px;
        line-height: 21px
    }
}

@media (max-width:400px) {
    .editor_editor__AW64M {
        font-size: 13px
    }
}

@media (max-width:360px) {
    .editor_editor__AW64M {
        font-size: 12px
    }
}

.commerce-graphic_header__QKZ2x,
.commerce-graphic_placeholder__A3toX,
.commerce-graphic_product___mYRm {
    opacity: 0;
    transition: opacity 1s ease
}

.commerce-graphic_header-visible__J8WA8,
.commerce-graphic_placeholder-visible__FfHJC,
.commerce-graphic_product-visible__9sO52 {
    opacity: 1
}

.develop-demo_develop-demo__jAkJF {
    display: grid;
    width: var(--geist-page-width-with-margin);
    padding-left: var(--geist-page-margin);
    padding-right: var(--geist-page-margin);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

.develop-demo_benefits__krXHf {
    margin-bottom: var(--geist-gap)
}

.develop-demo_benefits-item__eGxiu {
    margin-bottom: var(--geist-space-16x);
    text-align: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto
}

.develop-demo_editor__N8Hag {
    max-width: 100%
}

.develop-demo_windows__iC9UA {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px
}

.develop-demo_browser__e2I9d {
    max-width: 100%;
    position: relative;
    z-index: 1;
    top: -110px
}

@media (min-width:480px) {
    .develop-demo_editor__N8Hag {
        max-width: 90%
    }

    .develop-demo_browser__e2I9d {
        max-width: 90%;
        left: 10%
    }
}

@media (min-width:960px) {
    .develop-demo_develop-demo__jAkJF {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .develop-demo_benefits__krXHf {
        padding-left: var(--geist-space-16x);
        padding-right: var(--geist-gap-double)
    }

    .develop-demo_benefits-item__eGxiu {
        text-align: left
    }
}

.path-line_line__C6T5U {
    width: 1px;
    align-self: center
}

.path-line_line__C6T5U.path-line_stretch__j13md {
    flex: 1 1
}

.path-line_line__C6T5U.path-line_gradient__sKfKk {
    background: linear-gradient(var(--start-color), var(--end-color));
    padding-right: 1px
}

.path-line_line__C6T5U.path-line_dotted__ihamV {
    border-right: 1px dashed var(--dotted-color)
}

.section-title_title__VEDfK {
    text-align: center;
    margin: 0 0 var(--geist-gap);
    font-weight: 700;
    letter-spacing: -.05em;
    font-size: 3.75rem;
    background: var(--geist-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.section-title_title__VEDfK::selection {
    -webkit-text-fill-color: var(--geist-foreground)
}

@media (max-width:599px) {
    .section-title_title__VEDfK {
        font-size: 2.5rem
    }
}

.develop-section_p__4FfnI {
    max-width: 740px;
    margin: 0 auto 96px
}

.text-link_link__OUsK1 {
    color: var(--color);
    transition-duration: .2s;
    transition-property: color
}

.text-link_linkWrapper__4HKRu:focus .text-link_link__OUsK1 {
    color: var(--geist-foreground) !important
}

@media (hover:hover) {
    .text-link_link__OUsK1:hover {
        color: var(--geist-foreground)
    }
}

.text-link_bold__q4nSB {
    font-weight: 700
}

.new-feature-badge_wrapper__CGGHr {
    display: inline-flex;
    align-items: center;
    grid-gap: var(--geist-space-2x);
    gap: var(--geist-space-2x);
    font-size: 14px;
    color: var(--accents-5);
    background: var(--accents-1);
    border: 1px solid var(--accents-2);
    padding: 6px 8px 6px 6px;
    border-radius: 999px;
    text-decoration: none;
    transition-property: color, border-color;
    transition-duration: .2s;
    line-height: 20px
}

.new-feature-badge_pill__pxYiY {
    font-size: 12px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    background: var(--pillColor);
    color: var(--geist-background);
    border-radius: 999px
}

@media (hover:hover) {
    .new-feature-badge_wrapper__CGGHr:hover {
        color: var(--accents-7);
        border-color: var(--accents-3)
    }
}

.new-feature-badge_mobileCopy__XRuj3 {
    display: none
}

.new-feature-badge_desktopCopy__lu4zz {
    display: block
}

@media (max-width:600px) {
    .new-feature-badge_mobileCopy__XRuj3 {
        display: block
    }

    .new-feature-badge_desktopCopy__lu4zz {
        display: none
    }
}

.path-circle_circle__CzQnd {
    width: 11px;
    height: 11px;
    box-shadow: 0 0 0 1.5px var(--accents-3) inset;
    border-radius: 50%;
    margin: 4px 0
}

.preview-item_wrapper__CTIrc {
    display: flex;
    width: 100%
}

.preview-item_graphic-column__cvBZN {
    flex: 1 1
}

.preview-item_graphic-column-inner__ZHTgI {
    padding-right: var(--geist-space-16x)
}

.preview-item_descriptions-column__12_CY {
    flex: 1 1
}

.preview-item_descriptions-column-inner__1Yl7G {
    padding-left: calc(var(--geist-space-16x) - 5px);
    padding-right: var(--geist-gap-double);
    margin-top: var(--geist-space-gap-quarter-negative);
    padding-bottom: var(--geist-space-64x);
    margin-bottom: var(--geist-gap)
}

.preview-item_descriptions-column-inner__1Yl7G.preview-item_last-item__CnEuU {
    margin-bottom: var(--geist-space-24x)
}

.preview-item_line-column__EjniW {
    display: flex;
    flex-direction: column
}

.preview-item_descriptions-body__ZaKA5 {
    color: var(--accents-5)
}

@media (max-width:959px) {
    .preview-item_wrapper__CTIrc {
        flex-direction: column
    }

    .preview-item_line-column__EjniW {
        order: 0;
        align-items: center;
        height: 100px
    }

    .preview-item_graphic-column__cvBZN {
        order: 2;
        padding-bottom: var(--geist-gap-double)
    }

    .preview-item_descriptions-column-inner__1Yl7G {
        width: 480px;
        max-width: 100%;
        text-align: center;
        padding: var(--geist-gap);
        margin: auto
    }

    .preview-item_graphic-column-inner__ZHTgI {
        width: 480px;
        max-width: 100%;
        margin: auto;
        padding-right: 0
    }

    .preview-item_descriptions-column-inner__1Yl7G.preview-item_last-item__CnEuU {
        padding: var(--geist-gap) 0;
        margin-bottom: var(--geist-gap)
    }
}

.preview-messages_message-item__VRXvc {
    display: flex;
    width: 94%;
    align-items: flex-end;
    margin-bottom: var(--geist-gap);
    justify-content: flex-end
}

.preview-messages_message-content__hQDoC {
    margin-right: var(--geist-space-4x);
    letter-spacing: -.02em;
    line-height: 1.4
}

.preview-messages_message-avatar___1_tR {
    transform: translateY(16px)
}

.preview-messages_message-bubble__JSB9K {
    position: relative;
    font-weight: 500;
    border-radius: 1rem;
    padding: 8px 16px;
    background: var(--geist-success);
    color: #fff;
    margin-bottom: 12px;
    background: linear-gradient(91.5deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, 0)), #0070f3
}

.preview-messages_message-bubble__JSB9K:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: #0070f3;
    border-bottom-left-radius: 15px
}

.preview-messages_message-bubble__JSB9K:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 21px;
    background: var(--geist-background);
    border-bottom-left-radius: 10px
}

.preview-messages_message-name__W17xi {
    text-align: right;
    font-size: .875rem;
    color: var(--accents-4)
}

.preview-messages_message-name__W17xi b {
    font-weight: 500;
    color: var(--accents-5)
}

.preview-messages_url__3bDM9 {
    font-weight: 600
}

.preview-messages_message-bubble__JSB9K.preview-messages_green-background___lHXP {
    background: #22cc52
}

.preview-comment_preview-comment__ACNxL {
    border-radius: var(--geist-radius);
    box-shadow: var(--shadow-medium);
    letter-spacing: -.02em;
    line-height: 1.4;
    position: relative
}

.dark-theme .preview-comment_preview-comment__ACNxL {
    background: #0d1117;
    color: #c9d1d9
}

.preview-comment_comment-header__AFKUK {
    box-shadow: 0 30px 30px rgba(0, 0, 0, .02), 0 0 8px rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .05);
    padding: var(--geist-gap-half) var(--geist-space-4x);
    display: flex;
    align-items: center;
    background: #f6f8fa;
    font-size: 13px
}

.dark-theme .preview-comment_comment-header__AFKUK {
    background: #161b22
}

.preview-comment_comment-bot__fThqc {
    display: inline-flex;
    padding: .05rem .5rem;
    font-size: 10px;
    border-radius: 16px;
    margin: 0 var(--geist-gap-quarter);
    border: 1px solid #d0d7de;
    color: #57606a
}

.dark-theme .preview-comment_comment-bot__fThqc {
    color: #8b949e;
    border: 1px solid #30363d
}

.preview-comment_comment-timestamp__NHSyk {
    font-weight: 500;
    color: #57606a
}

.dark-theme .preview-comment_comment-timestamp__NHSyk {
    color: #8b949e
}

.preview-comment_comment-body__r3L5c {
    padding: var(--geist-space-4x) var(--geist-space-4x) var(--geist-gap)
}

.preview-comment_comment-icon__au9to {
    vertical-align: bottom;
    transform: translateY(-1px)
}

.preview-comment_comment-text__PV9gp {
    margin-bottom: var(--geist-gap-half);
    white-space: pre-wrap;
    margin-top: 0;
    font-size: 13px
}

.preview-comment_comment-links__txubR {
    line-height: 1.8
}

.preview-comment_comment-link__rV6OP {
    color: #0969da
}

.preview-comment_comment-link-git__e7k7_ {
    color: #0969da;
    white-space: pre-wrap
}

.dark-theme .preview-comment_comment-link-git__e7k7_,
.dark-theme .preview-comment_comment-link__rV6OP {
    color: #58a6ff
}

.preview-comment_comment-table__cVhme {
    border-collapse: collapse;
    font-size: .7rem;
    border-radius: 1px solid var(--accents-3)
}

.dark-theme .preview-comment_comment-table__cVhme {
    border-radius: 1px solid #21262d
}

.preview-comment_comment-table-td__W__Hx,
.preview-comment_comment-table-th__XdJLj {
    border: 1px solid #d0d7de;
    padding: 8px;
    text-align: left;
    font-weight: inherit
}

.dark-theme .preview-comment_comment-table-td__W__Hx,
.dark-theme .preview-comment_comment-table-th__XdJLj {
    border: 1px solid #30363d
}

.preview-comment_comment-dark-row__E7_iq {
    background: #f6f8fa
}

.dark-theme .preview-comment_comment-dark-row__E7_iq {
    background: #161b22
}

.preview-comment_message__BCDiR {
    position: absolute;
    right: 0;
    bottom: -100px
}

.preview-push_root__N9eID {
    position: relative;
    margin-top: 56px
}

.preview-push_preview-push__Pl8uA {
    font-family: var(--font-mono);
    padding-left: var(--geist-gap-half)
}

.preview-push_prompt__4az6h {
    color: var(--geist-secondary)
}

.preview-push_cursor__HwKJT {
    width: 10px;
    display: inline-block;
    height: 1.25rem;
    margin-left: .2rem;
    transform: translateY(.2rem);
    background: var(--geist-highlight-pink)
}

.preview-push_comment__CwPiF {
    margin-left: 32px;
    margin-top: 4px
}

.preview-push_comment__CwPiF hr {
    width: 2px;
    height: 21px;
    border: 0;
    background: var(--accents-2);
    margin: 0 0 4px 14px
}

.preview-push_comment__CwPiF b {
    font-weight: 600
}

.preview-push_rocketIcon__pjMxO {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background: var(--accents-2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accents-5);
    margin-right: 12px
}

.preview-push_vercelIcon__Ho1sX {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 8px
}

.preview-push_vercelIcon__Ho1sX svg {
    transform: translateY(-1px)
}

.dark-theme .preview-push_vercelIcon__Ho1sX {
    box-shadow: 0 0 0 1px var(--accents-2)
}

.preview-push_botBadge__w509b {
    margin: 0 4px;
    height: 18px;
    padding: 0 6px;
    border-radius: 9999px;
    border: 1px solid var(--accents-3);
    transform: translateY(1px)
}

.preview-section_preview-section__cd0g6 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: var(--geist-page-width);
    padding-left: var(--geist-page-margin);
    padding-right: var(--geist-page-margin);
    overflow: hidden
}

.preview-section_graphic-wrapper__BGLBl {
    transform: translateY(-50%)
}

.preview-section_graphics-review-wrapper__VEQSL {
    transform: translateY(-100px);
    position: relative
}

.preview-section_graphics-review-wrapper__VEQSL>div {
    overflow: visible
}

.preview-section_graphics-review-wrapper__VEQSL .preview-section_reviewsImage__r7CH2 {
    width: 100%;
    height: 100%;
    display: block
}

.preview-section_graphics-review-wrapper__VEQSL .preview-section_toolbar__8qLzj {
    position: absolute;
    bottom: -48px;
    height: 90px;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
    object-fit: cover
}

.preview-section_avatar__N8vfG {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.preview-section_avatar__N8vfG img {
    margin-left: 16px
}

@media (max-width:959px) {

    .preview-section_graphic-wrapper__BGLBl,
    .preview-section_graphics-review-wrapper__VEQSL {
        transform: none
    }

    .preview-section_reviews__HrepK {
        margin-top: 56px
    }
}

.preview-section_p__Xj17x {
    max-width: 860px;
    margin: 0 auto 96px
}

.graphic_graphic-wrapper__8t90S {
    overflow: hidden;
    margin-top: var(--geist-space-16x-negative);
    position: absolute;
    left: 460px;
    top: 260px;
    aspect-ratio: 1/1
}

.graphic_graphic-wrapper__8t90S :after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 0, var(--geist-background) 60%)
}

.graphic_graphic__a7w7i {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-image: var(--background-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1000px;
    width: 1000px
}

.graphic_globe__VXOAT {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    opacity: 0;
    will-change: opacity;
    transition: opacity .5s ease .5s;
    width: 100%;
    height: 100%;
    contain: layout paint size
}

.graphic_globe__VXOAT.graphic_ready__WXjbx {
    opacity: 1
}

.graphic_globe__VXOAT canvas {
    outline: none;
    width: 100%;
    height: 100%;
    cursor: grab
}

.graphic_globe__VXOAT video {
    max-width: 100%;
    transform: translateY(-59%);
    pointer-events: none;
    filter: invert(1)
}

.dark-theme .graphic_globe__VXOAT video {
    filter: unset
}

@media (max-width:959px) {
    .graphic_graphic-wrapper__8t90S {
        top: unset;
        bottom: -640px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        width: 1000px;
        height: 1000px
    }

    .graphic_graphic__a7w7i {
        top: 0;
        left: 50%;
        transform: translateX(-50%)
    }
}

.ship-section_stats__UvmpB {
    background: var(--accents-1);
    border-top: 1px solid var(--accents-2);
    border-bottom: 1px solid var(--accents-2);
    position: relative
}

.ship-section_headingWrapper___5c_4 {
    max-width: 600px;
    margin: 12px auto 0;
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    gap: 12px;
    text-align: center
}

.ship-section_contentWrapper__8JQT7 {
    max-width: 490px;
    margin: 30px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    grid-gap: 40px;
    gap: 40px;
    z-index: 1
}

.ship-section_wrapper__9qotr {
    position: static;
    padding-bottom: 280px
}

@media (min-width:960px) {
    .ship-section_headingWrapper___5c_4 {
        margin: 80px 0 0;
        text-align: left
    }

    .ship-section_contentWrapper__8JQT7 {
        text-align: left;
        align-items: flex-start;
        margin: 30px 0 140px
    }

    .ship-section_wrapper__9qotr {
        position: relative;
        padding-bottom: 0
    }

    .ship-section_item__mw7_Q {
        text-align: left
    }

    .ship-section_item__mw7_Q>div {
        margin-left: 0
    }
}

.get-started_wrapper__4ScHM {
    max-width: 100%;
    margin: 0 auto;
    padding: var(--geist-space-16x) var(--geist-page-margin)
}

@media (max-width:690px) {
    .get-started_wrapper__4ScHM {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0
    }
}